<% if(testTree[key]) { %>
<ul>
<% for(item of testTree[key]) { %>
	<li>
		<div class="fixture" name="<%= item.$.name %>" >
			<h4>
				<input class="all_tests" type="checkbox" />
				<span class="toggle">
					<%= item.$.name %> 
					<i><small style="font-weight:normal;"><%= item.$.type %></small></i>
				</span>
			</h4>
			
			
			<div class="toggle_data">
			<% if(item["test-case"]) { %>
				<ul>		
				<% for(test of item["test-case"]) {  %>
				<li>
					<div class="test" test-id="<%= test.$.id %>" fullname="<%= test.$.fullname %>">
						<input class="test" type="checkbox" />
						<%= test.$.name %>
					</div>
				</li>
				<% } %>
				</ul>
			<% } %>				
			<%- include("../partials/treeView", {testTree:item, key:key}) %>
			</div>
		</div>		
	</li>
<% } %>
</ul>
<% } %>