<html>
<head>
    <% include ../partials/head %>
	<script>
		var settings = <%- JSON.stringify(settings) %>;
		var substituteSettingsEnabled = <%- substituteSettingsEnabled %>
		function getFixture($fixture) {
			var fixture = {};
			fixture.name = $fixture.attr("name");
			fixture.tests = [];
			$.each($fixture.find("div.test"), function(i,v) {
				fixture.tests.push(getTest($(v)));
			});
			return fixture;
		}
		
		function getTest($test) {
			var test = {};
			test.name = $test.attr("name");
			test.fullname = $test.attr("fullname");
			test.active = $test.find("input.test").prop("checked");
			test.browsers = [];
			$.each($test.find("input.browser:checked"), function(i,v) {
				test.browsers.push($(v).attr("browser"));
			});
			return test;
		}
		
		function getTestData() {
			var data = {};
			if(substituteSettingsEnabled) {
				data.settings = settings;
			}
			data.fixtures = [];
			var $fixtures = $('.fixture');
			$.each($fixtures, function(i,v) {
				data.fixtures.push(getFixture($(v)));
			});
			return data;
		}
		
		function timeText() {
			return "["+(new Date()).toTimeString().substr(0,8)+"]";
		}
		
		function updateMessage(msg) {
			$('#message').prepend(timeText() + " " + msg + '<br>');
		}
		
		function updateTestCount() {
			$('#testCount').html($("input.test:checked").length);
		}
		
		function updateTitle(msg) {
			$('title').text("("+msg+") Test Runner");
		}
		
		function addToggleElement(buttonClass, contextSectionClass, toggleSectionClass) {
			$(toggleSectionClass).hide();
			$(buttonClass).click(function() {
				$(this).toggleClass("active").closest(contextSectionClass).find(toggleSectionClass).slideToggle("fast");
			});
		}
		
		function renderSettings() {
			$(".settings .items").empty();
			for(var key in settings) {
				$(".settings .items")
					.append("<span class='setting_item'>"+key+": <input class='setting_value' name='"+key+"' value='"+settings[key]+"' /><input type='button' class='delete_setting' value='Delete'></span><br />");
			}
		}
		
		$(document).ready(function() {
			var testInfoName = $('input[name="testInfo"]').val();
			
			if(substituteSettingsEnabled) {
				renderSettings();
			}
			
			// Save tests configuration and run tests
			$('#run_tests').click(function() {
				$.ajax({
					method: "POST",
					url: "/testInfo/run/" + testInfoName,
					contentType: "application/json",
					data: JSON.stringify(getTestData())
				}).done(function(msg) {
					updateMessage(msg);
				});
			});
			
			// Just save tests configuration
			$('#save_tests').click(function() {
				$.ajax({
					method: "POST",
					url: "/testInfo/save/" + testInfoName,
					contentType: "application/json",
					data: JSON.stringify(getTestData())
				}).done(function(msg) {
					updateMessage(msg);
				});
			});
			
			// Un/check all tests in fixture on checkbox click
			$('.all_tests').change(function() {
				var $fixture = $(this).closest('.fixture');
				var checked = this.checked;
				$.each($fixture.find('input.test'), function(i,v) {
					$(v).prop('checked', checked);
					$(v).trigger('change');
				});
			});
			
			// Dis/activate browsers checkboxes for test on checkbox click
			$('input.test').change(function() {
				var isTestActive = this.checked;
				var $test = $(this).closest('div.test');
				$.each($test.find('input.browser'), function(i,v) {
					$(v).prop('disabled', !isTestActive);
				});
				updateTestCount();
			});
			
			// Call function above for all tests for initialization
			$.each($('input.test'), function(i,v) {
				$(v).trigger("change");
			});
			
			// If all tests in fixture are active, then check fixture checkbox
			$.each($('.all_tests'), function(i,v) {
				var tests = $(this).closest('.fixture').find('input.test');
				var all_tests_checked = true;
				for(i=0; i<tests.length; i++) {			
					all_tests_checked = all_tests_checked && $(tests[i]).prop('checked');
				}
				$(v).prop('checked', all_tests_checked);
			});
			
			// Highlight fixtures with selected tests
			$.each($('.fixture'), function(i,v) {
				var tests = $(this).find('input.test');
				var any_test_checked = false;
				var i=0;
				while(!any_test_checked && i<tests.length) {
					any_test_checked = $(tests[i++]).prop('checked');
				}
				if(any_test_checked) {
					$(this).css('background-color', 'rgba(0,0,255,0.04)');
				}
			});
			
			// Expanding of tests by fixture			
			addToggleElement(".toggle", ".fixture", ".toggle_data");
			// Expanding of settings section
			addToggleElement(".settings_button", ".settings", ".settings_toggle");
			
			$(".add_setting").click(function() {
				var new_setting_name = $(".new_setting.name").val();
				if(!new_setting_name || new_setting_name === "")
					return updateMessage("Error! Setting Name can't be empty!");
				if(settings[new_setting_name] !== undefined)
					return updateMessage("Error! Item with such name already exists!");
					
				settings[new_setting_name] = $(".new_setting.value").val();
				$(".new_setting").val("");
				renderSettings();
			});
			
			$(".settings").on('change', '.setting_value', function() {
				settings[$(this).attr("name")] = $(this).val();
				renderSettings();
			});			
			
			$(".settings").on('click', '.delete_setting', function() {
				var name = $(this).closest('.setting_item').find('.setting_value').attr("name");
				delete settings[name];
				renderSettings();
			});
			
			$("#save_tests_as").click(function() {
				var new_config = prompt("Type new config name");
				if(!new_config || new_config === "")
					return updateMessage("Config name can't be empty");
				$.ajax({
					method: "POST",
					url: "/testInfo/save/" + new_config,
					contentType: "application/json",
					data: JSON.stringify(getTestData())
				}).done(function(msg) {
					updateMessage(msg);
				});
			});
			
			var lastMsg;
			setInterval(function() {
				$.ajax({
					method: "GET",
					url: "checkStatus",
				}).done(function(msg) {
					if(msg !== lastMsg) {
						if(msg === "Success" || msg === "Failed") {
							updateMessage("<a href='/results'>Results</a>");
						} else {
							updateMessage(msg);
						}
						updateTitle(msg);
					}
					lastMsg = msg;
				});
			}, 2000);
		});
	</script>
</head>
<body>
<div class="wrapper">
    <header>
        <% include ../partials/header %>
    </header>
	<div class="middle">
	
		<div class="container">
			<main class="content">
			<input type="hidden" name="testInfo" value="<%=testInfoName%>" />
			<% if(substituteSettingsEnabled) { %>
			<div class="settings">
				<h3>
					Current config: 
					<%=testInfoName%><input class="settings_button" type="image" src="/img/icon.png" />
				</h3>
				<div class="settings_toggle">
					<div class="items"></div>
					<br>
					<span>
						<input type="text" class="new_setting name" />
						<input type="text" class="new_setting value" />
						<input type="button" class="add_setting" value="Add New" />
					</span>
				</div>
			</div>
			<% } %>
			<br>
			<div class="browsers">
			<% browsers.forEach(browser => { %>
				<span class="browser"><%=browser%></span>
			<% }); %>
			</div>
			<% fixtures.forEach(fixture => { %>
			<div class="fixture" name="<%=fixture.name%>" >		
				<h4>
					<input class="all_tests" type="checkbox" />				
					<span class="toggle">
						<%= fixture.name %>
					</span>
				</h4>

				<div class="toggle_data">	
					<ul>		
					<% fixture.tests.forEach(test => { %>
						<li>
							<div class="test" name="<%= test.name %>" fullname="<%=test.fullname%>"> <!-- need to refactor this -->
								<input class="test" type="checkbox" <%= test.active ? "checked" : "" %> />
								<%= test.name %>
								<div class="browsers">
								<% browsers.forEach(browser => { %>
									<input class="browser" type="checkbox" browser="<%=browser%>" <%= (test.browsers.indexOf(browser) !== -1) ? "checked" : "" %> />
								<% }); %>
								</div>
							</div>
						</li>
					<% }); %>
					</ul>
				</div>
			</div>
			<% }); %>
			</main>
		</div>
		
		<aside class="left-sidebar">
			<div class="button">
				<a id="run_tests" href="#" class="button-0">Run!</a>	
			</div>
			<div class="button">
				<a id="save_tests" href="#" class="button-0">Save</a>
			</div>
			<div class="button">
				<a id="save_tests_as" href="#" class="button-0">Save ...</a>
			</div>
			<span>Selected: <span id='testCount'></span></span>
			<br><br>
			<span id="message"></span>
		</aside>
		
	</div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</div>
</body>
</html>