<html>
<head>
    <% include ../partials/head %>
	<script>
		var settings = <%- JSON.stringify(settings) %>;
		var substituteSettingsEnabled = <%- substituteSettingsEnabled %>;
		var testTree = <%- JSON.stringify(testTree) %>;
		<% var key = "test-suite"; %>
		
		function getTestData() {
			var data = {};
			if(substituteSettingsEnabled)
				data.settings = settings;
			
			data.testTree = testTree;
			return data;
		}
		
		function timeText() {
			return "["+(new Date()).toTimeString().substr(0,8)+"]";
		}
		
		function updateMessage(msg) {
			$('#message').prepend(timeText() + " " + msg + '<br>');
		}
		
		function updateTestCount() {
			$('#testCount').html($("input.test:checked").length);
		}
		
		function updateTitle(msg) {
			$('title').text("("+msg+") Test Runner");
		}
		
		function addToggleElement(buttonClass, contextSectionClass, toggleSectionClass) {
			//$(toggleSectionClass).hide();
			$(buttonClass).click(function() {
				$(this).toggleClass("active").closest(contextSectionClass).find(toggleSectionClass).slideToggle("fast");
			});
		}
		
		function renderSettings() {
			$(".settings .items").empty();
			for(var key in settings) {
				$(".settings .items")
					.append("<span class='setting_item'>"+key+": <input class='setting_value' name='"+key+"' value='"+settings[key]+"' /><input type='button' class='delete_setting' value='Delete'></span><br />");
			}
		}
		
		$(document).ready(function() {
			var testInfoName = $('input[name="testInfo"]').val();
			
			if(substituteSettingsEnabled) {
				renderSettings();
			}
			
			// Save tests configuration and run tests
			$('#run_tests').click(function() {
				if($("input.test:checked").length === 0)
					return updateMessage("Choose any test");
					
				$.ajax({
					method: "POST",
					url: "/testInfo/run/" + testInfoName,
					contentType: "application/json",
					data: JSON.stringify(getTestData())
				}).done(function(msg) {
					updateMessage(msg);
				});
			});
			
			// Just save tests configuration
			$('#save_tests').click(function() {
				$.ajax({
					method: "POST",
					url: "/testInfo/save/" + testInfoName,
					contentType: "application/json",
					data: JSON.stringify(getTestData())
				}).done(function(msg) {
					updateMessage(msg);
				});
			});
			
			$("#save_tests_as").click(function() {
				var new_config = prompt("Type new config name");
				if(!new_config || new_config === "")
					return updateMessage("Config name can't be empty");
				$.ajax({
					method: "POST",
					url: "/testInfo/save/" + new_config,
					contentType: "application/json",
					data: JSON.stringify(getTestData())
				}).done(function(msg) {
					updateMessage(msg);
				});
			});
			
			// Un/check all tests in fixture on checkbox click
			$('.all_tests').change(function() {
				var $fixture = $(this).closest('.fixture');
				var checked = this.checked;
				$.each($fixture.find('input.test, all_tests'), function(i,v) {
					$(v).prop('checked', checked);
					$(v).trigger('change');
				});
			});
			
			function dfs(testTree, callback) {
				if(testTree["test-case"])
					for(test of testTree["test-case"])
							callback(test);

				if(testTree["test-suite"])
					for(test of testTree["test-suite"])
						dfs(test, callback);
			}
			
			// Update testTree on checkbox click
			$('input.test').change(function() {
				var isTestActive = this.checked;
				var testId = $(this).closest('div.test').attr('test-id');
				selector.searchTest(testTree, testId, "id", function(test) {
					if(test.$.id === testId)
						test.$.checked = isTestActive;
				});
				updateTestCount();
			});
			
			// Init checkboxes from testTree
			$.each($('input.test'), function(i, test) {
				var testId = $(test).closest('div.test').attr('test-id');
				selector.searchTest(testTree, testId, "id", function(tmptest) {
					if(tmptest.$.id === testId)
						test.checked = tmptest.$.checked;
				});
				updateTestCount();
			});
			
			// If all tests in fixture are active, then check fixture checkbox
			$.each($('.all_tests'), function(i,v) {
				var tests = $(this).closest('.fixture').find('input.test');
				var all_tests_checked = true;
				for(i=0; i<tests.length; i++) {			
					all_tests_checked = all_tests_checked && $(tests[i]).prop('checked');
				}
				$(v).prop('checked', all_tests_checked);
			});
				
			// Expanding of tests by fixture			
			addToggleElement(".toggle", ".fixture", ".toggle_data");
			// Expanding of settings section
			addToggleElement(".settings_button", ".settings", ".settings_toggle");
			$(".settings_toggle").hide();
			
			// Highlight fixtures with selected tests
			$.each($('.fixture'), function(i,v) {
				var tests = $(this).find('input.test');
				var any_test_checked = false;
				var i=0;
				while(!any_test_checked && i<tests.length) {
					any_test_checked = $(tests[i++]).prop('checked');
				}
				if(!any_test_checked) {
					//$(this).css('background-color', 'rgba(0,0,255,0.04)');
					$(this).find('.toggle_data').hide();
				}
			});			
			
			$(".add_setting").click(function() {
				var new_setting_name = $(".new_setting.name").val();
				if(!new_setting_name || new_setting_name === "")
					return updateMessage("Error! Setting Name can't be empty!");
				if(settings[new_setting_name] !== undefined)
					return updateMessage("Error! Item with such name already exists!");
					
				settings[new_setting_name] = $(".new_setting.value").val();
				$(".new_setting").val("");
				renderSettings();
			});
			
			$(".settings").on('change', '.setting_value', function() {
				settings[$(this).attr("name")] = $(this).val();
				renderSettings();
			});			
			
			$(".settings").on('click', '.delete_setting', function() {
				var name = $(this).closest('.setting_item').find('.setting_value').attr("name");
				delete settings[name];
				renderSettings();
			});
			
			var lastMsg;
			setInterval(function() {
				$.ajax({
					method: "GET",
					url: "checkStatus",
				}).done(function(msg) {
					if(msg !== lastMsg) {
						if(msg === "Success" || msg === "Failed") {
							updateMessage("<a href='/results'>Results</a>");
						} else {
							updateMessage(msg);
						}
						updateTitle(msg);
					}
					lastMsg = msg;
				});
			}, 2000);
		});
	</script>
</head>
<body>
<div class="wrapper">
    <header>
        <% include ../partials/header %>
    </header>
	<div class="middle">
		<div class="container">
			<main class="content">			
			<input type="hidden" name="testInfo" value="<%=testInfoName%>" />
			<% if(substituteSettingsEnabled) { %>
			<div class="settings">
				<h3>
					Current config: 
					<%=testInfoName%><input class="settings_button" type="image" src="/img/icon.png" />
				</h3>
				<div class="settings_toggle">
					<div class="items"></div>
					<br>
					<span>
						<input type="text" class="new_setting name" />
						<input type="text" class="new_setting value" />
						<input type="button" class="add_setting" value="Add New" />
					</span>
				</div>
			</div>
			<% } %>
			<br>
			<% include ../partials/treeView %>
			</main>
		</div>
		
		<aside class="left-sidebar">
			<div class="button">
				<a id="run_tests" href="#" class="button-0">Run!</a>	
			</div>
			<div class="button">
				<a id="save_tests" href="#" class="button-0">Save</a>
			</div>
			<div class="button">
				<a id="save_tests_as" href="#" class="button-0">Save as</a>
			</div>
			<span>Selected: <span id='testCount'></span></span>
			<br><br>
			<span id="message"></span>
		</aside>
		
	</div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</div>
</body>
</html>