<html>
<head>
    <% include ../partials/head %>
	<script>
		function getFixture($fixture) {
			var fixture = {};
			fixture.name = $fixture.attr("name");
			fixture.tests = [];
			$.each($fixture.find("div.test"), function(i,v) {
				fixture.tests.push(getTest($(v)));
			});
			return fixture;
		}
		
		function getTest($test) {
			var test = {};
			test.name = $test.attr("name");
			test.assembly = $test.attr("assembly");
			test.active = $test.find("input.test").prop("checked");
			test.browsers = [];
			$.each($test.find("input.browser:checked"), function(i,v) {
				test.browsers.push($(v).attr("browser"));
			});
			return test;
		}
		
		function getTestData() {
			var data = {};
			data.fixtures = [];
			var $fixtures = $('.fixture');
			$.each($fixtures, function(i,v) {
				data.fixtures.push(getFixture($(v)));
			});
			return data;
		}
		
		function updateMessage(msg) {
			$('#message').fadeOut(500, function() {
				$(this).html(msg).fadeIn(500);
			});
		}
		
		$(document).ready(function() {
			var testInfoName = $('input[name="testInfo"]').val();
			
			// Save tests configuration and run tests
			$('#run_tests').click(function() {
				$.ajax({
					method: "POST",
					url: "/testInfo/run/" + testInfoName,
					contentType: "application/json",
					data: JSON.stringify(getTestData())
				}).done(function(msg) {
					updateMessage(msg);
				});
			});
			
			// Just save tests configuration
			$('#save_tests').click(function() {
				$.ajax({
					method: "POST",
					url: "/testInfo/save/" + testInfoName,
					contentType: "application/json",
					data: JSON.stringify(getTestData())
				}).done(function(msg) {
					updateMessage(msg);
				});
			});
			
			// Un/check all tests in fixture on checkbox click
			$('.all_tests').change(function() {
				var $fixture = $(this).closest('.fixture');
				var checked = this.checked;
				$.each($fixture.find('input.test'), function(i,v) {
					$(v).prop('checked', checked);
					$(v).trigger('change');
				});
			});
			
			// Dis/activate browsers checkboxes for test on checkbox click
			$('input.test').change(function() {
				var isTestActive = this.checked;
				var $test = $(this).closest('div.test');
				$.each($test.find('input.browser'), function(i,v) {
					$(v).prop('disabled', !isTestActive);
				});
			});
			
			// Call function above for all tests for initialization
			$.each($('input.test'), function(i,v) {
				$(v).trigger("change");
			});
			
			// If all tests in fixture are active, then check fixture checkbox
			$.each($('.all_tests'), function(i,v) {
				var tests = $(this).closest('.fixture').find('input.test');
				var all_tests_checked = true;
				for(i=0; i<tests.length; i++) {			
					all_tests_checked = all_tests_checked && $(tests[i]).prop('checked');
				}
				$(v).prop('checked', all_tests_checked);
			});
			
			// Expanding of tests by fixture
			$(".toggle_data").hide();
			$(".toggle").click(function(){
				$(this).toggleClass("active").closest('.fixture').find(".toggle_data").slideToggle("fast");
			});
		});
	</script>
</head>
<body>
<div class="wrapper">
    <header>
        <% include ../partials/header %>
    </header>
	<div class="middle">
	
		<div class="container">
			<main class="content">
			<input type="hidden" name="testInfo" value="<%=testInfoName%>" />
			<div class="browsers">
			<% browsers.forEach(browser => { %>
				<span class="browser"><%=browser%></span>
			<% }); %>
			</div>
			<% fixtures.forEach(fixture => { %>
			<div class="fixture" name="<%=fixture.name%>" >		
				<h4>
					<input class="all_tests" type="checkbox" />				
					<span class="toggle">
						<%= fixture.name %>
					</span>
				</h4>

				<div class="toggle_data">	
					<ul>		
					<% fixture.tests.forEach(test => { %>
						<li>
							<div class="test" name="<%= test.name %>" assembly="<%=test.assembly%>"> <!-- need to refactor this -->
								<input class="test" type="checkbox" <%= test.active ? "checked" : "" %> />
								<%= test.name %>
								<div class="browsers">
								<% browsers.forEach(browser => { %>
									<input class="browser" type="checkbox" browser="<%=browser%>" <%= (test.browsers.indexOf(browser) !== -1) ? "checked" : "" %> />
								<% }); %>
								</div>
							</div>
						</li>
					<% }); %>
					</ul>
				</div>
			</div>
			<% }); %>
			</main>
		</div>
		
		<aside class="left-sidebar">
			<div class="button">
				<a id="run_tests" href="#" class="button-0">Run!</a>	
			</div>
			<div class="button">
				<a id="save_tests" href="#" class="button-0">Save</a>
			</div>
			<span id="message"></span>
		</aside>
		
	</div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</div>
</body>
</html>