<html>
<head>
    <% include ../partials/head %>
	<style>
		#content {
			width: 1000px;
			margin: 0 auto;
		}
		
		.button-0 {
			position: relative;
			padding: 10px 40px;
			margin: 50px 30% 10px 0px;
			float: right;
			border-radius: 10px;
			font-family: 'Helvetica', cursive;
			font-size: 25px;
			color: #FFF;
			text-decoration: none;  
			background-color: #3498DB;
			border-bottom: 5px solid #2980B9;
			text-shadow: 0px -2px #2980B9;
			/* Animation */
			transition: all 0.1s;
			-webkit-transition: all 0.1s;
		}

		.button-0:hover, 
		.button-0:focus {
			text-decoration: none;
			color: #fff;
		}

		.button-0:active {
			transform: translate(0px,5px);
			-webkit-transform: translate(0px,5px);
			border-bottom: 1px solid;
		}
	
		li {
			margin: 10px;
		}
		li:hover {
			background-color: rgba(100,100,100,0.05);
		}

		div.fixture:hover {
			background-color: rgba(100,100,100,0.05);
		}
		div.browsers {
			float: right;
			margin-right: 100;
		}
		.browser {
			margin-left: 100;
			margin-right: 100;
		}
	</style>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script>
		$(document).ready(function() {
			/*$('li:has(> input.test)').change(function() {
				//console.log($('input.test', this).checked);
				$('.browser', this).prop('disabled', function(i, v) { return !v; });//.attr("disabled", true);
			});*/
			$('#run_tests').click(function() {
				var $testList = $('li:has(> input.test:checked) input.browser:checked');
				var testList = [];
				$.each($testList, function(i,v) {
					var assembly = $(v).attr("assembly");
					var browser = $(v).attr("browser");
					var testName = $(v).attr("name");
					testList.push(assembly + "(\\\"" + browser + "\\\")." + testName);
				});
				$.ajax({
					method: "GET",
					url: "/run",
					data: {"testList" : testList }
				}).done(function(msg) {
					$('#message').html(msg);
				});
			});
			$('.all_tests').change(function() {
				var $fixture = $(this).closest('.fixture');
				var checked = this.checked;
				$.each($fixture.find('input.test'), function(i,v) {
					$(v).prop('checked', checked);
				});
			});
		});
	</script>	
</head>
<body>
    <header>
        <% include ../partials/header %>
		<h1><i>Test Runner</i></h1>
    </header>
	<div id=content>
		<div class="browsers">
		<% browsers.forEach(browser => { %>
			<span class="browser"><%=browser%></span>
		<% }); %>
		</div>	
	<% fixtures.forEach(fixture => { %>
	<div class="fixture">
		<h4>
			<input class="all_tests" type="checkbox" />
			<%= fixture.name %>
		</h4>
		<div>
		<ul>		
		<% fixture.tests.forEach(test => { %>

			<li>
				<input class="test" type="checkbox" name="<%=test.assembly%>" <%= test.active ? "checked" : "" %> />
				<%= test.name %>
				<div class="browsers">
				<% browsers.forEach(browser => { %>
					<input class="browser" type="checkbox" browser="<%=browser%>" assembly="<%=test.assembly%>" name="<%=test.name%>" <%= (test.browsers.indexOf(browser) !== -1) ? "checked" : "" %> />
				<% }); %>
				</div>
			</li>
		<% }); %>
		</ul>		
		</div>
	</div>
	<% }); %>
	</div>
    <footer>
		<div><a id="run_tests" href="#" class="button-0">Run!</a></div>
		<span id="message"></span>		
        <% include ../partials/footer %>
    </footer>
</body>
</html>